<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KuñArandu</title>
    <!--
        For more customization options, we would advise
        you to build your TailwindCSS from the source.
        https://tailwindcss.com/docs/installation
    -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.9.2/tailwind.min.css">
    <!-- Small CSS to Hide elements at 1520px size -->
</head>
<body style="background-color: white;">
    
            <!-- ACA EMMMMMAAAAA -->    

    <!-- BEGIN FEATURES SECTION --> 
        <div class="container flex flex-col items-center w-full mt-10 my-5 pt-2 justify-between h-full max-w-6xl mx-auto">
                <img class="border border-white shadow max-16 h-70" src="../static/src/TITULO-1000-300-px--unscreen.gif" alt="probando">

                <img class="items-right justify-left " src="../static/src/titulooooooo2222222-removebg-preview.png" alt="hola">
        </div>
            
            <!-- Icon 1 -->

    <div class="flex flex-row">
        <div class="w-full max-w-md p-4 mx-auto mb-0 sm:mb-16 lg:mb-0 lg:w-1/3">
            <div class="border border-stone-900 border-solid rounded-md shadow-2xl relative flex flex-col items-center justify-center w-60 h-60 p-30 mr-5 rounded-md">

                    <img class= "w-full h-120" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSayh33k6_5DaOtos-y359qjn1jHLGFr_mKEaMLmKcjx-ba5WBEqj6UiC6Sw-Lc9jr91Rk&usqp=CAU" alt="hola">
                
                    <h4 class="relative mt-6 text-xl font-bold">Artesanía</h4>
                <a href="/arte" class="relative w-full px-6 py-1 mt-3 text-base font-semibold text-center text-white bg-black rounded shadow-2xl hover:bg-purple-800">Continuar</a>
            </div>
        </div>

            <!-- Icon 2 -->
        <div class="w-full max-w-md p-4 mx-auto mb-0 sm:mb-16 lg:mb-0 lg:w-1/3">
            <div class="border border-stone-900 border-solid rounded-md shadow-2xl relative flex flex-col items-center justify-center w-60 h-60 p-30 mr-5 rounded-md">
                
                <img src="http://archivo.mides.gub.uy/innovaportal/file/102891/1/manoscocinando_web.jpg" alt="hola">

                <h4 class="relative mt-6 text-xl font-bold">Cocina</h4>
                <a href="/cocina" class="relative w-full px-6 py-1 mt-3 text-base font-semibold text-center text-white bg-black rounded shadow-2xl hover:bg-purple-800">Continuar</a>
            </div>
        </div>

            <!-- Icon 3 -->
            <div class="w-full max-w-md p-4 mx-auto mb-0 sm:mb-16 lg:mb-0 lg:w-1/3">
                <div class="border border-stone-900 border-solid rounded-md shadow-2xl relative flex flex-col items-center justify-center w-60 h-200 p-30 mr-5 rounded-md">
                    
                    <img src="https://img.freepik.com/free-photo/hairdresser-taking-care-her-client_23-2149319765.jpg?w=2000" alt="hola">
        
                    <h4 class="relative mt-6 text-xl font-bold">Peluquería</h4>
                    <a href="/pelo" class="relative w-full px-6 py-1 mt-3 text-base font-semibold text-center text-white bg-black rounded shadow-2xl hover:bg-purple-800">Continuar</a>
                </div>
            </div>
    </div>
    <div class="flex flex-row">
            <!-- Icon 4 -->
            <div class="w-full max-w-md p-4 mx-auto mb-0 sm:mb-16 lg:mb-0 lg:w-1/3">
                <div class="border border-stone-900 border-solid rounded-md shadow-2xl relative flex flex-col items-center justify-center w-60 h-60 p-30 mr-5 rounded-md">
                    
                    <img src="https://static.theclinic.cl/media/2019/09/Detr%C3%A1s-de-las-u%C3%B1as-perfectas-A1.jpg" alt="hola">
        
                    <h4 class="relative mt-6 text-xl font-bold">Manicura/Pedicura</h4>
                    <a href="#_" class="relative w-full px-6 py-1 mt-3 text-base font-semibold text-center text-white bg-black rounded shadow-2xl hover:bg-purple-800">Continuar</a>
                </div>
    
            <!-- Icon 5 -->
            </div>
            <div class="w-full max-w-md p-4 mx-auto mb-0 sm:mb-16 lg:mb-0 lg:w-1/3">
                <div class="border border-stone-900 border-solid rounded-md shadow-2xl relative flex flex-col items-center justify-center w-60 h-60 p-30 mr-5 rounded-md">
                    
                    <img src="https://img.freepik.com/fotos-premium/primer-plano-manos-mujer-pastelera-vestido-blanco-muffin-o-cupcake-decorado-frutos-bosque_433022-1011.jpg?w=2000" alt="hola">
        
                    <h4 class="relative mt-6 text-xl font-bold">Repostería</h4>
                    <a href="#_" class="relative w-full px-6 py-1 mt-3 text-base font-semibold text-center text-white bg-black rounded shadow-2xl hover:bg-purple-800">Continuar</a>
                </div>
            </div>

                <!-- Icon 6 -->
            <div class="w-full max-w-md p-4 mx-auto mb-0 sm:mb-16 lg:mb-0 lg:w-1/3">
                <div class="border border-stone-900 border-solid rounded-md shadow-2xl relative flex flex-col items-center justify-center w-60 h-60 p-30 mr-5 rounded-md">
                    
                    <img src="https://us.123rf.com/450wm/andreycherkasov/andreycherkasov1603/andreycherkasov160300728/54158021-fabricaci%C3%B3n-de-joyas-hechas-a-mano-caja-con-granos-en-el-fondo-de-madera-vieja-accesorios-hechos-a-m.jpg?ver=6" alt="hola">
        
                    <h4 class="relative mt-6 text-xl font-bold">Bijouterie</h4>
                    <a href="#_" class="relative w-full px-6 py-1 mt-3 text-base font-semibold text-center text-white bg-black rounded shadow-2xl hover:bg-purple-800">Continuar</a>
                </div>
            </div>
    </div>
    <div class="flex flex-row">
                <!-- Icon 7 -->
            <div class="w-full max-w-md p-4 mx-auto mb-0 sm:mb-16 lg:mb-0 lg:w-1/3">
                <div class="border border-stone-900 border-solid rounded-md shadow-2xl relative flex flex-col items-center justify-center w-60 h-60 p-30 mr-5 rounded-md">
                    
                    <img src="https://cimacnoticias.com.mx/wp-content/uploads/2016/05/carpintera01citlallilopez.jpg" alt="hola">
        
                    <h4 class="relative mt-6 text-xl font-bold">Carpintería</h4>
                    <a href="#_" class="relative w-full px-6 py-1 mt-3 text-base font-semibold text-center text-white bg-black rounded shadow-2xl hover:bg-purple-800">Continuar</a>
                </div>
            </div>
                <!-- Icon 8 -->
            <div class="w-full max-w-md p-4 mx-auto mb-0 sm:mb-16 lg:mb-0 lg:w-1/3">
                <div class="border border-stone-900 border-solid rounded-md shadow-2xl relative flex flex-col items-center justify-center w-60 h-60 p-30 mr-5 rounded-md">
                    
                    <img src="https://www.asuncion.gov.py/wp-content/uploads/2019/05/Vendedora-del-Mercado-4.jpeg" alt="hola">
        
                    <h4 class="relative mt-6 text-xl font-bold">Ventas</h4>
                    <a href="#_" class="relative w-full px-6 py-1 mt-3 text-base font-semibold text-center text-white bg-black rounded shadow-2xl hover:bg-purple-800">Continuar</a>
                </div>

                <!-- Icon 9 -->
            </div>
            <div class="w-full max-w-md p-4 mx-auto mb-0 sm:mb-16 lg:mb-0 lg:w-1/3">
                <div class="border border-stone-900 border-solid rounded-md shadow-2xl relative flex flex-col items-center justify-center w-60 h-60 p-30 mr-5 rounded-md">
                    
                    <img src="https://www.abc.com.py/resizer/KKXh9Pc_vGb6Srf5PnXI6GFgsgE=/910x590/smart/arc-anglerfish-arc2-prod-abccolor.s3.amazonaws.com/public/BTSSBWRZBZALHKZTFRDJHZTK6A.jpg" alt="hola">
        
                    <h4 class="relative mt-6 text-xl font-bold">Florista</h4>
                    <a href="#_" class="relative w-full px-6 py-1 mt-3 text-base font-semibold text-center text-white bg-black rounded shadow-2xl hover:bg-purple-800">Continuar</a>
                </div>
            </div>
    </div>
</div>
</div>
    <!-- END FEATURES SECTION -->

    <!-- a little JS for the mobile nav button -->
    <script>
        if (document.getElementById('nav-mobile-btn')) {
            document.getElementById('nav-mobile-btn').addEventListener('click', function () {
                if (this.classList.contains('close')) {
                    document.getElementById('nav').classList.add('hidden');
                    this.classList.remove('close');
                } else {
                    document.getElementById('nav').classList.remove('hidden');
                    this.classList.add('close');
                }
            });
        }
    </script>
</body>
</html>
