<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>kuñArandu</title>
    <!--
         For more customization options, we would advise
         you to build your TailwindCSS from the source.
         https://tailwindcss.com/docs/installation
         -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.9.2/tailwind.min.css" />
    <!-- Small CSS to Hide elements at 1520px size -->



<body>
    <!-- Header Section -->
    <!-- End Header Section-->
    <!-- BEGIN HERO SECTION -->



    <div class="=log-box">
        <img class="" src="../static/src/IMG/background/bg-kuñArandu/bg-kuñArandu.gif" />

        <div class="absolute top-0 left-0 pt-40 flex flex-col md:h-14 items-left justify-between w-full max-w-xl text-left"
            style="margin-left: 7rem">
            <h1 class="text-2xl max-w-xl font-black leading-tight text-fuchsia-600 sm:text-4xl">
                Mujer, hazlo por tí misma, <br> construye tu propio camino
            </h1>
            <p class="pr-0 mb-8 pt-6 text-base text-purple-800 sm:text-lg xl:text-xl lg:pr-14">
                Registrate por única vez e impulsá tu propio negocio aprovechando todos los
                recursos que tenemos <br> para tu desarrollo empresarial
            </p>
            <a href="/sign_in_as_guest"
                class="items-center justify-between inline-block w-48 px-8 py-4 mx-auto mt-0 text-base font-bold text-white bg-purple-800 border-t border-gray-200 rounded-md shadow-xl sm:mt-1 fold-bold md:ml-8 lg:mx-0">Registrate
                hoy!</a>


            <div class="">
                <img class="object-cover pt-20 h-22 lg:pr-14" src="../static/src/IMG/logo ciudad mujer.png" />



                <!-- Integrates with section -->
            </div>
            <nav id="nav"
                class="absolute top-0 left-10 items-center justify-between md:flex mx-auto md:h-10 lg:text-base md:bg-transparent md:mt-6 md:border-none md:py-0 md:flex"
                style="margin-left: 28rem">


                <a href="#¡Sigue Adelante!"
                    class="mr-0 font-bold duration-100 w-48 md:mr-3 lg:mr-8 transition-color hover:text-purple-800">¡Sigue
                    Adelante!</a>
                <a href="#"
                    class="mr-0 font-bold duration-100 w-48 md:mr-3 lg:mr-8 transition-color hover:text-purple-800">Cursos
                    a tu medida</a>
                <a href="#testimonials"
                    class="font-bold duration-100 w-48 transition-color hover:text-purple-800">Mujeres Inspiradoras</a>





        </div>



        </nav>



    </div>


    </div>

    <div
        class="absolute flex items-center justify-center w-full px-8 py-10 border-t border-gray-200 md:py-16 lg:py-24 xl:py-20 xl:px-0">
        <div class="max-w-6xl mx-auto">
            <div class="flex-col items-center ">
                <div class="flex flex-col items-center justify-center w-full h-full max-w-2xl pr-8 mx-auto text-center">
                    <p class="my-5 text-base font-medium tracking-tight text-purple-800 uppercase">Tu aprendizaje es
                        nuestra inspiración
                    </p>
                    <h2
                        class="text-4xl font-extrabold leading-10 tracking-tight text-gray-900 sm:text-5xl sm:leading-none md:text-6xl lg:text-5xl xl:text-6xl">
                        Bootcamp Experience</h2>
                    <p class="my-6 text-xl font-medium text-purple-800">Un desafío de tres días donde los estudiantes,
                        guiados por un coach, construyen un producto real. </p>

                </div>
                <div id="testimonials" class="flex flex-col items-center justify-center max-w-2xl py-8 mx-auto xl:flex-row xl:max-w-full">
                    <div class="w-full xl:w-1/2 xl:pr-8">
                        <blockquote
                            class="flex flex-col-reverse items-center justify-between w-full col-span-1 p-6 text-center transition-all duration-200 bg-purple-100 rounded-lg md:flex-row md:text-left hover:bg-white hover:shadow ease">
                            <div class="flex flex-col pr-8">
                                <div class="relative pl-12">
                                    <svg class="absolute left-0 w-10 h-10 text-purple-800 fill-current"
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 125">
                                        <path
                                            d="M30.7 42c0 6.1 12.6 7 12.6 22 0 11-7.9 19.2-18.9 19.2C12.7 83.1 5 72.6 5 61.5c0-19.2 18-44.6 29.2-44.6 2.8 0 7.9 2 7.9 5.4S30.7 31.6 30.7 42zM82.4 42c0 6.1 12.6 7 12.6 22 0 11-7.9 19.2-18.9 19.2-11.8 0-19.5-10.5-19.5-21.6 0-19.2 18-44.6 29.2-44.6 2.8 0 7.9 2 7.9 5.4S82.4 31.6 82.4 42z" />
                                    </svg>
                                    <p class="mt-2 text-base text-gray-600">Gracias al Bootcamp aprendí a ser más
                                        paciente y perseverar para encontrar soluciones bajo presión.
                                    </p>
                                </div>

                                <h3 class="pl-12 mt-3 text-base font-medium leading-5 text-gray-800 truncate">Emma
                                    Escobar <span class="mt-1 text-sm leading-5 text-purple-800 truncate">- Backend
                                        General & TailwindCSS</span></h3>
                                <p class="mt-1 text-sm leading-5 text-gray-500 truncate"></p>
                            </div>
                            <img class="flex-shrink-0 object-cover w-24 h-24 mb-5 bg-gray-300 rounded-full md:mb-0"
                                src="../static/src/Emma Escobar.jpeg" alt="">
                        </blockquote>
                        <blockquote
                            class="flex flex-col-reverse items-center justify-between w-full col-span-1 p-6 mt-16 mb-16 text-center transition-all duration-200 bg-purple-100 rounded-lg md:flex-row md:text-left hover:bg-white hover:shadow ease xl:mb-0">
                            <div class="flex flex-col pr-10">
                                <div class="relative pl-12">
                                    <svg class="absolute left-0 w-10 h-10 text-purple-800 fill-current"
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 125">
                                        <path
                                            d="M30.7 42c0 6.1 12.6 7 12.6 22 0 11-7.9 19.2-18.9 19.2C12.7 83.1 5 72.6 5 61.5c0-19.2 18-44.6 29.2-44.6 2.8 0 7.9 2 7.9 5.4S30.7 31.6 30.7 42zM82.4 42c0 6.1 12.6 7 12.6 22 0 11-7.9 19.2-18.9 19.2-11.8 0-19.5-10.5-19.5-21.6 0-19.2 18-44.6 29.2-44.6 2.8 0 7.9 2 7.9 5.4S82.4 31.6 82.4 42z" />
                                    </svg>
                                    <p class="mt-2 text-base text-gray-600">Este Bootcamp fue la mejor
                                        experiencia que tuve en 2022, aprendí de todo pero lo mejor es que ahora soy más
                                        sociable</p>
                                </div>
                                <h3 class="pl-12 mt-3 text-base font-medium leading-5 text-gray-800 truncate">Diana
                                    Núñez <span class="mt-1 text-sm leading-5 text-purple-800 truncate">- Content
                                        Research
                                        & Content Creator</span></h3>
                                <p class="mt-1 text-sm leading-5 text-gray-500 truncate"></p>
                            </div>
                            <img class="flex-shrink-0 object-cover w-24 -ml-6 h-24 mb-5 bg-gray-300 rounded-full md:mb-0"
                                src="../static/src/Diana Núñez.jpeg" alt="">
                        </blockquote>


                        <!-- >! Blanca Franco -->



                        <!-- Lupe Melgarejo -->


                    </div>
                    <div class="w-full xl:w-1/2 xl:pl-8">

                        <blockquote
                            class="flex flex-col-reverse items-center justify-between w-full col-span-1 p-6 mt-16 text-center transition-all duration-200 bg-purple-100 rounded-lg md:flex-row md:text-left hover:bg-white hover:shadow ease">
                            <div class="flex flex-col pr-10">
                                <div class="relative pl-12">
                                    <svg class="absolute left-0 w-10 h-10 text-purple-800 fill-current"
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 125">
                                        <path
                                            d="M30.7 42c0 6.1 12.6 7 12.6 22 0 11-7.9 19.2-18.9 19.2C12.7 83.1 5 72.6 5 61.5c0-19.2 18-44.6 29.2-44.6 2.8 0 7.9 2 7.9 5.4S30.7 31.6 30.7 42zM82.4 42c0 6.1 12.6 7 12.6 22 0 11-7.9 19.2-18.9 19.2-11.8 0-19.5-10.5-19.5-21.6 0-19.2 18-44.6 29.2-44.6 2.8 0 7.9 2 7.9 5.4S82.4 31.6 82.4 42z" />
                                    </svg>
                                    <p class="mt-2 text-base text-gray-600">Conocí a muchas personas que siempre llevare
                                        en mi corazón, y todo lo aprendido me ayudará en un futuro a buscar un mundo
                                        mejor</p>
                                </div>

                                <h3 class="pl-12 mt-3 text-base font-medium leading-5 text-gray-800 truncate">Jazmín
                                    Torres <span class="mt-1 text-sm leading-5 text-purple-800 truncate">- Backend &
                                        Content Research</span></h3>
                                <p class="mt-1 text-sm leading-5 text-gray-500 truncate"></p>
                            </div>
                            <img class="flex-shrink-0 object-cover w-24 h-24 mb-5 bg-gray-300 rounded-full md:mb-0"
                                src="../static/src/Jazmín Torres.jpeg" alt="">
                        </blockquote>
                    </div>
                </div>


            </div>
        </div>
    </div>
</body>

</html>